<ion-header _ngcontent-vlf-c84="" ng-reflect-translucent="true" role="banner" class="md header-md header-translucent header-collapse-none header-translucent-md hydrated"><!---->
  <ion-toolbar _ngcontent-vlf-c84="" class="toolbar-title-default md in-toolbar hydrated">
    <ion-buttons _ngcontent-vlf-c84="" slot="start" class="buttons-first-slot sc-ion-buttons-md-h sc-ion-buttons-md-s md hydrated">
      <ion-menu-button _ngcontent-vlf-c84="" class="md button in-toolbar ion-activatable ion-focusable hydrated">
      </ion-menu-button>
    </ion-buttons>
    <ion-title _ngcontent-vlf-c84="" class="md title-default hydrated">cadastroTurmas
    </ion-title>
  </ion-toolbar>
</ion-header>
<!--<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>cadastroTurmas</ion-title>
  </ion-toolbar>
</ion-header>-->

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">cadastroTurmas</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content>
