<ion-header [translucent]="true">
  <ion-toolbar>
    <a href="/folder/inbox">
      <ion-icon  size="large" class="ion-padding" name="return-up-back-outline" style="color:black"></ion-icon>
    </a>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large" style="color: black !important;">Registro</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-item  class="item-lines-none">
    <ion-input class="ion-margin" name="login" placeholder="Digite um Email" type="Email"></ion-input>
  </ion-item>
  <ion-item  class="item-lines-none">
    <ion-input class="ion-margin" name="senha" placeholder="Digite uma senha"></ion-input>
  </ion-item>
  <ion-item  class="item-lines-none">
    <ion-input class="ion-margin" name="senharep" placeholder="Repita a senha"></ion-input>
  </ion-item>
<ion-button class="ion-button ion-margin" expand="block" fill="clear" shape="round">
  Salvar
</ion-button>

</ion-content>
